doctype html
html(lang='zh-CN')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='keywords',content='#{keywords ? keywords : "blog,iBlog"}')
        meta(name='description',content='#{description ? description : "iBlog"}')
        link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/bootstrap-addon.css', rel='stylesheet')
        link(href='/stylesheets/site.css', rel='stylesheet')
        link(href='/libs/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/stylesheets/share.css', rel='stylesheet')
        title=title
    body.fuelux
        .navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')
                        img(src='/images/profile_photo.jpg',alt='profile_photo')
                        span 丛从
                .navbar-collapse.collapse
                    ul.nav.navbar-nav.my-nav-pills.navbar-right
                        li#blog
                            a(href='/blog')
                                i.fa.fa-file-text-o.fa-fw 
                                span 博客
                        li#aboutBlog
                            a(href='/aboutblog')
                                i.fa.fa-user.fa-fw 
                                span 关于博客
                        li#aboutMe
                            a(href='/aboutme')
                                i.fa.fa-user.fa-fw 
                                span 关于我
        block content
