extends ../shared/layout
block content
	.container.render-body
		.row
			#aboutme.text-center
				img(src='/images/aboutblog1.jpeg')
	script(type='text/javascript', src='/javascripts/aboutblog.js', charset='utf-8')