extends ../shared/layout
block content
	.container.render-body
		.row(style="max-width:100%;")
			#aboutme.text-center
				img(src='/images/博客技术实现.png',style="max-width:100%;")
				p(style="font-size:24px;")图1 博客前后端技术构成
				img(src='/images/博客实体关系图 .png',style="max-width:100%;")
				p(style="font-size:24px;")图2 博客实体关系图
				img(src='/images/数据流图.png',style="max-width:100%;")
				p(style="font-size:24px;")图3 数据流图.png
				img(src='/images/后台分类录入.PNG',style="max-width:100%;")
				p(style="font-size:24px;")图4 后台录入分类.png
	script(type='text/javascript', src='/javascripts/aboutblog.js', charset='utf-8')
	script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js', charset='utf-8')
	script(type='text/javascript', src='/libs/bootstrap/dist/js/bootstrap.min.js', charset='utf-8')