extends ../shared/layout
block content
	.container.render-body
		.row
			#aboutme.text-center
				img(src='/images/aboutblog.jpg',alt='aboutblog')
	script(type='text/javascript', src='/javascripts/aboutme.js', charset='utf-8')