extends ../shared/layout
block content
	.container.render-body
		.row(style="max-width:100%;")
			#aboutme.text-center
				img(src='/images/aboutblog.jpg',alt='aboutblog',style="max-width:100%;")
	script(type='text/javascript', src='/javascripts/aboutme.js', charset='utf-8')
	script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js', charset='utf-8')
	script(type='text/javascript', src='/libs/bootstrap/dist/js/bootstrap.min.js', charset='utf-8')